<% provide(:title,"All List of Tasks") %>

<h1>All List of Tasks</h1>
<ul class="list_of_tasks">
      we have <%=  @lists.count %> lists.
</ul>
<ol>
      <% @lists.map do |l| %>
             <li> <%= l.name %> </li>
      <% end %>
</ol>